<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/pure-min.css"/>
    <link rel="stylesheet" href="/css/localStyle.css"/>
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<div class="pure-g">
    <div class="pure-u-1-5 left-column"></div>
    <div class="pure-u-3-5-70 content-column">
        <!--/*@thymesVar id="user" type="com.zyans.elab.domain.entity.User"*/-->
        <h3>Your Information</h3>
        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Email</td>
                <td th:text="${user.getEmail()}"></td>
            </tr>
            <tr>
                <td>User Name</td>
                <td th:text="${user.getUsername()}"></td>
            </tr>
            <tr>
                <td>Organization</td>
                <td th:text="${user.getOrganization()}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="pure-button pure-button-primary" href="/user/useredit" style="width: 100%">Edit Your
                        Profile</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>
