<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head">
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <!--/*@thymesVar id="user" type="com.zyans.elab.domain.entity.User"*/-->
        <h3>Your Information</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Email</td>
                <td th:text="${user.getEmail()}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${user.getName()}"></td>
            </tr>
            <tr>
                <td>Organization</td>
                <td th:text="${user.getOrganization()}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn btn-lg btn-primary btn-block" href="/user/useredit">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>
