.nav-bar-wrapper {
    background-color: #0081D8;/*#ffd090;*/
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.nav-bar-wrapper img {
    padding: 2px;
    vertical-align: middle;
}

.content-column {

}
