<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer">
        <div class="legal">
            <div class="mob">
                <div class="grid clearfix">
                    <nav>
                        <a href="http://www.verisign.com/en_US/legal-notices/index.xhtml">Legal Notices</a>
                        <a href="http://www.verisign.com/en_US/privacy/index.xhtml">Privacy</a>
                        <a href="http://www.verisign.com/en_US/verisign-repository/index.xhtml">Repository</a>
                        <a href="http://www.verisign.com/en_US/patent/index.xhtml">Patents</a>
                        <a href="http://www.verisign.com/en_US/site-map/index.xhtml">Corporate Site Map</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="mob">
                <div class="grid clearfix">
                    <p>&#169; 2016 VeriSign, Inc. All rights reserved. </p>
                    <p>VERISIGN, the VERISIGN logo, and other trademarks, service marks, and designs are registered or unregistered trademarks of VeriSign, Inc. and its subsidiaries in the United States and in other countries.</p>
                    <p>All other trademarks are property of their respective owners.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
