<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!--/*@thymesVar id="loginForm" type="com.zyans.elab.domain.form.LoginForm"*/-->
            <form action="#" th:action="@{${@environment.getProperty('rest.login')}}" th:object="${loginForm}" method="post" class="pure-form pure-form-aligned">
                <fieldset>
                    <legend>Login</legend>

                    <div class="pure-control-group">
                        <label for="email">Email</label>
                        <input type="email" th:field="*{email}" id="email" name="email" placeholder="test" required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input type="password" th:field="*{password}" id="password" name="password" required="true"/>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Login User</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>
</html>
