<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!--/*@thymesVar id="loginForm" type="com.zyans.elab.domain.form.LoginForm"*/-->
            <form action="#" th:action="@{${@environment.getProperty('rest.login')}}" th:object="${loginForm}" method="post" class="form-signin">
                <fieldset>
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <label class="sr-only" for="email">Email address</label>
                    <input class="form-control" type="email" th:field="*{email}" id="email" name="email" placeholder="Email address" required="" autofocus="" />

                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control" type="password" th:field="*{password}" id="password" name="password" placeholder="Password" required="" />

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>
</html>
