<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Creation Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/pure-min.css" />
    <link rel="stylesheet" href="/css/localStyle.css" />
</head>
<body>
    <div th:replace="navbar :: navbar"></div>


    <div class="pure-g">
        <div class="pure-u-1-5 left-column"></div>
        <div class="pure-u-3-5 content-column">
            <p>Success - your account has been created!  You can <a href="/login">login here</a>.</p>
        </div>
        <div class="pure-u-1-5 right-column"></div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>
</html>
