<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create an Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/pure-min.css" />
    <link rel="stylesheet" href="/css/localStyle.css" />
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="pure-g">
        <div class="pure-u-1-5 left-column"></div>
        <div class="pure-u-3-5 content-column">
            <!--/*@thymesVar id="userCreateForm" type="com.rsl.registrar.domain.UserCreateForm"*/-->
            <!--/*@thymesVar id="actionType" type="java.lang.String"*/-->
            <form action="#"
                  th:action="@{${actionType}}"
                  th:object="${userCreateForm}"
                  method="post"
                  class="pure-form pure-form-aligned">
                <fieldset>
                    <span th:switch="${actionType.contains('signup')}">
                        <legend th:case="true">Create User (All Fields Required)</legend>
                        <legend th:case="false">Edit Profile (All Fields Required)</legend>
                    </span>

                    <div class="pure-control-group">
                        <label for="name">Name</label >
                        <input type="text" th:value="${userCreateForm.getName()}" id="name" name="name" placeholder="Full Name" required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="phone">Phone</label >
                        <input type="text" th:value="${userCreateForm.getPhone()}" id="phone" name="phone" placeholder="1-123-456-7890" required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="fax">Fax</label >
                        <input type="text" th:value="${userCreateForm.getFax()}" id="fax" name="fax" placeholder="1-123-456-7890" required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="organization">Organization</label >
                        <input type="text" th:value="${userCreateForm.getOrganization()}" id="organization" name="organization" placeholder="abc Inc." required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="addressline1">Address</label >
                        <input type="text" th:value="${userCreateForm.getAddressline1()}" id="addressline1" name="addressline1" placeholder="123 Foobar Lane" required="true"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="addressline2"></label >
                        <input type="text" th:value="${userCreateForm.getAddressline2()}" id="addressline2" name="addressline2"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="addressline3"></label >
                        <input type="text" th:value="${userCreateForm.getAddressline3()}" id="addressline3" name="addressline3"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="city">City</label >
                        <input type="text" th:value="${userCreateForm.getCity()}" id="city" name="city" required="true"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="stateprovince">State/Province</label >
                        <input type="text" th:value="${userCreateForm.getStateprovince()}" id="stateprovince" name="stateprovince" required="true"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="postalcode">Postal Code</label >
                        <input type="text" th:value="${userCreateForm.getPostalcode()}" id="postalcode" name="postalcode" required="true"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="countrycode">Country Code</label >
                        <input type="text" th:value="${userCreateForm.getCountrycode()}" id="countrycode" name="countrycode" required="true"/>
                    </div>

                    <span th:switch="${actionType.contains('signup')}">
                        <div class="pure-control-group" th:case="true">
                            <label for="email">Email Address</label>
                            <input type="email" th:value="${userCreateForm.getEmail()}" id="email" name="email" placeholder="foobar@foo.com" required="true"/>
                        </div>
                        <div class="pure-control-group" th:case="false">
                            <label for="email">Email Address</label>
                            <input type="email" th:value="${userCreateForm.getEmail()}" id="email" name="email" placeholder="foobar@foo.com" required="true" readonly="readonly" />
                        </div>
                    </span>
                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input type="password" th:value="${userCreateForm.getPassword()}" id="password" name="password" required="true"/>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">
                            <span th:switch="${actionType.contains('signup')}">
                                <span th:case="true">Create User</span>
                                <span th:case="false">Edit Profile</span>
                            </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-5 right-column"></div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>
</html>
