<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!--/*@thymesVar id="userForm" type="com.zyans.elab.domain.form.UserForm"*/-->
            <!--/*@thymesVar id="actionType" type="java.lang.String"*/-->
            <form action="#"
                  th:action="@{${actionType}}"
                  th:object="${userForm}"
                  method="post"
                  class="pure-form pure-form-aligned">
                <fieldset>
                    <span th:switch="${actionType.contains('signup')}">
                        <legend th:case="true">Create User</legend>
                        <legend th:case="false">Edit Profile</legend>
                    </span>

                    <span th:switch="${actionType.contains('signup')}">
                        <div class="pure-control-group" th:case="true">
                            <label for="username">User Name</label >
                            <input type="text" th:value="${userForm.getUsername()}" id="username" name="username" placeholder="test" required="true"/>
                        </div>
                        <div class="pure-control-group" th:case="false">
                            <label for="username">User Name</label >
                            <input type="text" th:value="${userForm.getUsername()}" id="username" name="username" placeholder="test" required="true" readonly="readonly"/>
                        </div>
                    </span>

                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input type="password" th:value="${userForm.getPassword()}" id="password" name="password" required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="email">Email</label>
                        <input type="email" th:value="${userForm.getEmail()}" id="email" name="email" required="true"/>
                    </div>

                    <div class="pure-control-group">
                        <label for="organization">Organization</label >
                        <input type="text" th:value="${userForm.getOrganization()}" id="organization" name="organization" placeholder="abc Inc." required="true"/>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">
                            <span th:switch="${actionType.contains('signup')}">
                                <span th:case="true">Create User</span>
                                <span th:case="false">Edit Profile</span>
                            </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>
</html>
